@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff") format("woff");
}

html {
  margin: 0;
  padding: 0;
  color: var(--color-text);

  /* --color-primary: #4d7e3e;
  --color-primary-accent: #2f4e27;
  --color-gray: #dcdcdc;
  --color-text: #000000;
  --color-text-inverse: #ffffff;
  --color-background: #ebebeb; */

  --color-primary: #f7965c;
  --color-primary-accent: #a75221;
  --color-gray: #eeb896;
  --color-gray-accent: #c0c0c0;
  --color-background: #434343;
  --color-background-inverse: #ffffff;
  --color-text: #ffffff;
  --color-text-inverse: #000000;
  --color-dark: #323232;

}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  all: unset;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}
/*
a:focus,
a:hover {
  outline: solid 1px var(--color-primary-accent);
}*/

button {
  all: unset;
  outline: solid 1px var(--color-primary);
  background-color: var(--color-gray);
}

button:disabled {
  background-color: var(--color-background);
  outline: solid 1px var(--color-primary);
  color: var(--color-text);
}


.left-menu>*>*:focus,
.left-menu>*>*:hover,
button:hover:enabled,
button:focus:enabled {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  outline: solid 2px var(--color-text);
}

.navUser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
  }

  .userName {
    margin-right: 20px;
  }
}

.navbar {
  z-index: 2;
  border-bottom: solid 3px var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    height: 52px;
    width: 52px;
  }
}

.left-menu {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 220px;
  background-color: var(--color-background);
  color: white;
  animation: comeFromLeft 0.2s normal;
  margin-top: 15px;
}

@keyframes comeFromLeft {
  0% {
    transform: translate(-100%, 0%);
    width: 0px;
  }

  100% {
    transform: translate(0%, 0%);
    width: 200px;
  }
}

.left-menu > * > * {
  display: flex;
  margin: 10px;
  padding: 15px;

  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 15px;
  background-color: var(--color-dark);
  color: var(--color-text);
  border: none;
  width: 180px;

  font-size: 1.1rem;

}



.burgerButton {
  background-color: var(--color-gray);
  display: flex;

  color: inherit;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  div {
    margin-right: 20px;
  }
}

.menuBurger {
  margin-left: 20px;
}

.scrim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  z-index: 9;
  top: 0;
  animation: fadeIn 0.3s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.below-nav {
  display: flex;
  flex-grow: 1;
}

.mainContent {
  position: relative;
  display: flex;
  flex-grow: 1;
  color: var(--color-text);
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--color-background);
  flex-grow: 1;
  overflow: hidden;
  padding-inline: 10px;
}

main:nth-last-child() {
  margin-left: auto;
}

main > * {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 1255px) {
  main {
    display: flex;

    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    overflow: visible;
  }



}

.ilotName {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-inline: 40px;

  h1 {
    font-size: 3.25rem;
  }
}

.informations {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, fit-content(84px));
  /* set in react to have scroll */
  /* height: 60%; */
  /* overflow: 'scroll'; */
  a {
    width: 80%;
  }
}

.logo-info {
  /* padding: 20px; */
  background-color: #d9d9d9;
  border-radius: 30px;
  color: var(--color-text);
  margin: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;

  font-size: 1.05rem;


  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.205);

  p {
    margin: 0;
  }

  span {
    display: block;
    word-wrap: break-word;
  }
}

.logo-info > *:nth-child(1) {
  width: 80px;
  height: 84px;
}

.logo-info svg {
  scale: 2;
  margin: 32px;
}

.synopticContainer {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.cuveImg {
  scale: 50%;
  margin-right: auto;
  flex-grow: 1;
}

.buttonIlot {
  background-color: var(--color-gray);
  color: var(--color-text-inverse);
  font-size: 1.1rem;

  width: 240px;
  height: 60px;
  border-radius: 20px;
  margin-inline: auto;
  margin-bottom: 13px;

  text-align: center;
}

.coupleButtons {
  border-radius: 10px;
  /* border: solid var(--color-primary-accent) 1px; */
  margin: 10px;
  margin-inline: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205);
  label {
    margin-top: 8px;
    margin-inline: 15px;
    color: var(--color-text);
    font-size: 1.2rem;
  }
}

.coupleButtons > * {
  margin: 5px;
}

.twoButtons {
  display: flex;
}

.center {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  flex-wrap: nowrap;
  
  .center {
    flex-direction: column;
    flex-grow: 1;
  }


  
  .wrapper {
    margin: 20px;
    padding: 50px;
    background-color: white; 
    flex-grow: 0;

  }
  
  button {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
}

.no-fill {
  background-color: var(--color-background);
}

.tableContainer {
  width: 75%;
  > * {
    margin: 20px;
  }
}

.graphicContainer {
  width: 75%;
  height: 75%;
}
.rootGraphic {
  height: 90%;
  border: solid 1px var(--color-primary);
  background-color: var(--color-background-inverse);
  border-radius: 10px;
  margin: 20px;
  margin-inline: auto;

  text-align: center;
}

.Accueil {
  justify-content: space-between;
  align-items: center;
  transform: translateY(-40px);
}

.Accueil > * {
  margin-inline: auto;
}

#core {
  transform: translateX(-10px) translateY(20px);
  scale: 90%;
}

.cuveSvg {
  scale: 130%;
  transform: translateX(-46px);
}

.themeButton {
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 10px;
  outline: 1px solid var(--color-primary);
}

.buttonContainer {
  width: 380px;
  display: inline-block;
}


.navbar .center a {
  margin-inline: 10px;
}

.title {
  font-size: 84px;
  flex-grow: 0;
  margin-top: 3%;
}

.contribution{
  margin: 2rem;
  flex-grow: 1;
  >*>* {
    margin: 10px;
  }
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.docs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;

  

  button {
    background-color: unset;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
  }
}



