<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FactoryInsight</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

    <header>
        <h1>FactoryInsight</h1>
    </header>

    <hr>

    <main>
        <h2>Tableaux des variables OPC</h2>

        <div id="tab_bar"></div>

        <div id="tab_contents"></div>

        <hr>


        <button onclick="append_tag()">Ajouter</button>
        <button onclick="switch_mode(this)" id="mode_button">Mode automatique</button>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
        integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>

</html>